<div class="box box-widget scroll-auto no-border no-shadow" style="height: 60vh" >
    <div class="box-header with-border">
        <div class="user-block">
            <img class="img-circle" id="img_request" src="site_design/img/faces/thumbnail/avatar2.png" alt="user image">
            <span class="username"><a href="#" id="name_request">Alejandro</a></span>
            <span class="description" id="fecha_ultima_conversacion">Shared publicly - 7:30 PM Today</span>
        </div><!-- /.user-block -->
        <div class="box-tools">
            <button class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read"><i class="fa fa-circle-o"></i></button>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
    </div><!-- /.box-header -->

    <div id="listaMensajes" class="box-body box-comments">
        <div class="box-comment ">
            <!-- User image -->
            <img class="img-circle img-sm" src="site_design/img/faces/thumbnail/avatar5.png" alt="user image">
            <div class="comment-text">
                <span class="username">
                    Maria Gonzales
                    <span class="text-muted pull-right">8:03 PM Today</span>
                </span><!-- /.username -->
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
            </div><!-- /.comment-text -->
        </div><!-- /.box-comment -->
        <div class="box-comment ">
            <!-- User image -->
            <img class="img-circle img-sm" src="site_design/img/faces/thumbnail/avatar2.png" alt="user image">
            <div class="comment-text">
                <span class="username">
                    Nora Havisham
                    <span class="text-muted pull-right">8:03 PM Today</span>
                </span><!-- /.username -->
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using
                "Content here, content here", making it look like readable English.
            </div><!-- /.comment-text -->
        </div><!-- /.box-comment -->
    </div>
    <div class="box-footer box-comments" ></div>
</div><!-- /.box -->
<div class="box-footer ">
    <form action="#" method="post">
        <img class="img-responsive img-circle img-sm" src="site_design/img/faces/thumbnail/avatar5.png" alt="alt text">
        <!-- .img-push is used to add margin to elements next to floating images -->
        <div class="img-push">
            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
        </div>
    </form>
</div><!-- /.box-footer -->