# Build and Release Folders
.idea/*

#Documentacion
doc/*

#Scripts SQL
*.sql

# Carpetas de Imagenes
site_design/img/faces/fullscreen
site_design/img/faces/thumbnail

#Imagenes y Documentos Adjuntos a los modulos
modules/01HelpDesk/Adjuntos
modules/02Proyectos/Adjuntos
modules/04PVenta/Adjuntos
modules/07Mantenimiento/adjuntos
modules/applications/Adjuntos
modules/applications/logs
modules/applications/storage
modules/Surveys

#Carpetas .RAR y .ZIP
*.rar
*.zip

# Executables
*.exe

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
